<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.galileo.android.twitterclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".TwitterClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="37ebdc387aa6546c0d54814bce714f57de45e352"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>